NOTION_TOKEN=
NOTION_DATA_SOURCE_ID=
SITE_URL=
NOTION_WEBHOOK_VERIFICATION_TOKEN=
GITHUB_TOKEN="github_pat_xxxxxxxxxxxxxxxxx"
GITHUB_OWNER="g4brielosoares"
GITHUB_REPO="astro-notion"
GITHUB_WORKFLOW_FILE="deploy-cloudez.yml"
GITHUB_REF="main"