---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className, ...rest } = Astro.props;
---

<div class:list={["w-6/7 max-w-300 mx-auto", className]} {...rest}>
  <slot />
</div>
