---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a
  href={href}
  class:list={[
    className,
    "font-black font-jetbrains text-xl self-center",
    isActive
      ? "text-transparent bg-clip-text bg-linear-to-r from-[#DE386B] to-[#E93FF1]"
      : "text-white",
  ]}
  {...props}
>
  <slot />
</a>
