---
import type { Props } from "./index.astro";

const { title, class: className } = Astro.props;
---

<article class:list={[className, "space-y-5"]}>
  {title && <h4 class="text-2xl">{title}</h4>}
  <slot />
</article>
